{{ partial "meta/main.html" . }}
<head>
    {{ partial "meta/html.html" . }}
    
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Page.Title }} | {{ .Site.Title }}{{ end }}</title>

    {{ partial "google/analytics.html" . }}
    {{ partial "meta/seo.html" . }}
    {{ partial "framework.html" . }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}" />
    {{ partial "google/searchconsole.html" . }}
    {{ partial "ads/head.html" . }}
</head>
<body>
    {{ partial "navbar.html" . }}

    <main class="py-4 py-md-5 mt-2 mt-md-4">
        <div class="container">
            {{/* Blok "changelog" akan dimasukkan di sini */}}
            {{ block "changelog" . }}
            {{ end }}
        </div>
    </main>

    {{ partial "footer.html" . }}

    {{ partial "js.html" . }}
</body>
</html>
