<!-- cookie -->
<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0" role="alert">
  &#x1F36A; <p>Like any other website, Liteag uses "cookies". These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
  <a href="/policy.html" target="blank">Learn more</a></p>
  <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
    I Got It
  </button>
</div>

<footer>
<hr>
<p><div class="MID"><a href="/policy.html">Privacy Policy</a></div></p>
<p><div class="MID"><b>© 2024 The LiteG Project</b></div></p>
<p></p>
</footer>
