<!-- cookie -->
<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0" role="alert">
  &#x1F36A; <p>We serve cookies on this site to analyze traffic, remember your preferences, and optimize your experience.</p>
  <a href="https://policies.google.com/technologies/cookies" target="blank">Learn more</a></p>
  <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
    I Got It
  </button>
</div>

<footer>
<hr>
<p><div class="MID"><a href="/policy.html">Privacy Policy</a></div></p>
<p><div class="MID"><b>© 2024 The LiteG Project</b></div></p>
<p></p>
</footer>
