<!-- cookie -->
<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0" role="alert">
  &#x1F36A; This website uses cookies to ensure you get the best experience on our website.
  <a href="https://www.cookiesandyou.com/" target="blank">Learn more</a>
  <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
    I Got It
  </button>
</div>

<footer>
<hr>
<p><div class="MID"><a href="https://www.privacypolicyonline.com/live.php?token=iItZk2mFujekLR9UnSy0SttmUPylMIsP">Privacy Policy</a></div></p>
<p><div class="MID"><b>© 2024 The LiteG Project</b></div></p>
<p></p>
</footer>
