<!-- cookie -->
<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0" role="alert">
  &#x1F36A; <p>We serve cookies on this site to analyze traffic, remember your preferences, and optimize your experience.</p>
  <a href="https://policies.google.com/technologies/cookies" target="blank">Learn more</a></p>
  <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
    I Got It
  </button>
</div>

<script src="{{ "/assets/js/a.js" | relative_url }}"></script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMXPLXGC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	