


<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <div class="container-fluid">
	<img class="ICON_MAIN" src="/assets/img/icon.png" alt="Litegapps Icon">
	  <div class="search-container">
        <input type="text" id="searchTerm" class="search-input" placeholder="Search ">
        <button onclick="search()" class="search-button">Search</button>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
        {% if page.layout == "home" %}
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        {% else %}
        	 <a class="nav-link" aria-current="page" href="/index.html">Home</a>
        {% endif %}
        </li>
        <li class="nav-item">
        {% if page.layout == "blog" %}
          <a class="nav-link active" aria-current="page" href="/blog.html">Blog</a>
        {% else %}
        	 <a class="nav-link" aria-current="page" href="/blog.html">Blog</a>
        {% endif %}
        </li>
        
        <li class="nav-item">
        {% if page.layout == "doc" %}
          <a class="nav-link active" aria-current="page" href="/doc/contributors.html">Contributor</a>
        {% else %}
        	 <a class="nav-link" aria-current="page" href="/doc/contributors.html">Contributor</a>
        {% endif %}  
        </li>
      </ul>  
      </div>
        
  </div>
</nav>



