<meta name="color-scheme" content="light dark">

<meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
<meta property="og:description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}" />

<meta property="og:site_name" content="{{ .Title | default .Site.Title }}" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="{{ .Title | default .Site.Title }}" />


<meta name="author"  content="{{ .Site.Author.name | default .Page.Params.Author }}">

  {{- if .Page.Params.Excerpt }}
  <meta name="description"
        content="{{ replace .Page.Params.Excerpt "\n" " " }}">
  {{- end }}

  {{- $terms := union .Page.Params.Categories .Page.Params.Tags -}}
  {{- $terms := union $terms .Page.Params.Keywords -}}


   <meta property="og:locale"  content="{{ $.Site.LanguageCode | default "en" }}">

  {{- if eq .Page.Params.Type "post" }}
  <meta property="og:type"   content="article">
  {{- end }}
  <meta property="og:title"    content="{{ .Title | default .Site.Title }}">

  {{- if .Page.Params.Excerpt }}
  <meta property="og:description"   content="{{ replace .Page.Params.Excerpt "\n" "," }}">
  {{- end }}
  
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta property="og:url"   content="{{ .Permalink }}">
  <meta property="og:site_name"   content="{{ .Site.Title }}">

  {{- if .Page.Params.Opengraph.Image }}
  <meta property="og:image"  content="{{ .Page.Params.Opengraph.Image | absURL }}">
  {{- else if eq .Page.Params.Type "post" }}
  <meta property="og:image"  content="{{ "/assets/site/images/topics/default.png" | absURL }}">
  {{- else if .Site.Params.Opengraphimage }}
  <meta property="og:image" content="{{ .Site.Params.Opengraphimage | absURL }}">
  {{- end }}


{{- $terms := union .Page.Params.Categories .Page.Params.Tags -}}
  {{- $terms := union $terms .Page.Params.Keywords -}}

  {{- if $terms }}
  <meta name="keywords"  content="{{ delimit $terms ", " }}">
  {{- else if .Site.Params.Keywords }}
  <meta name="keywords"  content="{{ delimit .Site.Params.Keywords ", " }}">
  {{- end -}}
  
  <!-- json -->
<script type="application/ld+json"> {"@context":"https://schema.org","@type":"WebSite","author":{"@type":"Person","name":"{{ .Site.Author.name | default .Page.Params.Author }}"},"description":"{{ .Description | default (.Summary | default .Site.Params.description ) }}","headline":"{{ .Title | default .Site.Title }}","name":"{{ .Title | default .Site.Title }}","url":"{{ .Permalink }}"}</script>


