<meta name="color-scheme" content="light dark">
<meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
<meta property="og:description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}" />
<meta property="og:site_name" content="{{ .Title | default .Site.Title }}" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="{{ .Title | default .Site.Title }}" />
<meta name="author"  content="{{ .Site.Params.author | default .Page.Params.Author }}">

{{- if .Page.Params.Excerpt }}
<meta name="description" content="{{ replace .Page.Params.Excerpt "\n" " " }}">
{{- end }}
<meta property="og:locale"  content="{{ $.Site.LanguageCode | default "en" }}">
{{- if .Page.Params.Excerpt }}
<meta property="og:description"   content="{{ replace .Page.Params.Excerpt "\n" "," }}">
{{- end }}

<link rel="canonical" href="{{ .Permalink }}" />
<meta property="og:url"   content="{{ .Permalink }}">
<meta property="og:site_name"   content="{{ .Site.Title }}">
  