.features_litegapps {
	width:37px;
	height:37px;
    position: relative;
    right: 3px;
    margin-right: 10px;
	
	}
.col-product{
	padding-top: 30px;
	
	}
	
.col-product2{
	padding-top: 30px;
	
	}
@media screen and (min-width: 600px) {
  
	.col-product2 {
    padding-top: 0px;
  }
}
.product_title {
	width:47px;
	height:47px;
    position: relative;
    right: 3px;
    margin-right: 10px;
	
	}

