{{ partial "google/tagmanager_body.html" . }}

  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger brand-logo white-text">LiteGapps</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text">Menu</i></a>
      
      <ul class="sidenav" id="mobile-demo">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/doc.html">Documentation</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="https://t.me/litegapps">Telegram</a></li>
    <li><a href="/cookie-policy.html">Cookie Policy</a></li>
    <li><a href="/privacy-policy.html">Privacy Policy</a></li>
    <li><a href="/terms-of-service.html">Terms Of Service</a></li>
    <li><a href="/faq.html">FAQ</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="/index.html">Home</a></li>
        <li class="tab"><a href="/doc.html">Documentation</a></li>
        <li class="tab"><a href="/install.html">Install</a></li>
        <li class="tab"><a href="/faq.html">FAQ</a></li>
        <li class="tab"><a href="/news.html">News</a></li>
      
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/doc.html">Documentation</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="https://t.me/litegapps">Telegram</a></li>
    <li><a href="/cookie-policy.html">Cookie Policy</a></li>
    <li><a href="/privacy-policy.html">Privacy Policy</a></li>
    <li><a href="/terms-of-service.html">Terms Of Service</a></li>
    <li><a href="/faq.html">FAQ</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
  