<!-- cookie -->
<!--
<div id="cb-cookie-banner" class="MID" role="alert">
  &#x1F36A; <p>We serve cookies on this site to analyze traffic, remember your preferences, and optimize your experience.</p>
  <a href="https://policies.google.com/technologies/cookies" target="blank">Learn more</a></p>
  <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
    I Got It
  </button>
</div>
-->


<footer>
<hr>
<p class="pfooter"><a href="/about.html">About Us</a></p>
<p class="pfooter"><a href="/contact.html">Contact Us</a></p>
<p class="pfooter"><a href="/cookie-policy.html">Cookie Policy</a></p>
<p class="pfooter"><a href="/privacy-policy.html">Privacy Policy</a></p>
<p class="pfooter"><a href="/terms-of-service.html">Terms Of Service</a></p>
<p class="pfooter">Copyright <span>&#169;</span>  2023 LiteGapps</b></p>
<p></p>
</footer>
