<hr>

<div class="container-fluid">
 <div class="MID">
	<span><a href="https://youtube.com/channel/UCoqHuQ6CssiZCk3q4haOLUQ"><img src="/img/media/youtube.webp" alt="icon sosmed youtube" class="ICON"></img></a></span>
	<span><a href="https://fb.me/litegapps"><img src="/img/media/facebook.webp" alt="icon sosmed facebook" class="ICON"></img></a></span>
	<span><a href="https://t.me/litegapps"><img src="/img/media/telegram.webp" alt="icon sosmed telegram" class="ICON"></img></a></span>
	<span><a href="https://twitter.com/litegapps"><img src="/img/media/twitter.webp" alt="icon sosmed twitter" class="ICON"></img></a></span>
	<span><a href="https://www.tiktok.com/@litegapps"><img src="/img/media/tiktok.webp" alt="icon sosmed tiktok" class="ICON"></img></a></span>
	<span><a href="https://xdaforums.com/t/litegapps-systemless-custom-gapps.4146013/"><img src="/img/media/xda.webp" alt="icon sosmed xda" class="ICON"></img></a></span>
	<span><a href="https://github.com/litegapps"><img src="/img/media/github.webp" alt="icon sosmed github" class="ICON"></img></a></span>
	<span><a href="https://paypal.me/wahyu6071"><img src="/img/media/paypal.webp" alt="icon sosmed paypal" class="ICON"></img></a></span>
	<span><a href="mailto: litegapps@gmail.com"><img src="/img/media/email.webp" alt="icon sosmed email" class="ICON"></img></a></span>
 </div>
</div>


<footer>
<hr>
<div class="p_footer MID"><a href="https://androidroot.net">Android Root</a></div>
<div class="p_footer MID"><a href="https://aethersx2.me">AetherSX2</a></div>
<div class="p_footer MID"><a href="https://pcsx2.me">PCSX2</a></div>
<div class="p_footer MID"><a href="https://winlator.me">Winlator</a></div>
<div class="p_footer MID"><a href="https://dolphin27.gitlab.io">Dolphin Emulator</a></div>
<div class="p_footer MID"><a href="https://ppsspp.gitlab.io">ppsspp</a></div>
<div class="p_footer MID"><a href="https://aethersx2.gitlab.io">aethersx2.gitlab.io</a></div>
<div class="p_footer MID"><b>Copyright <span>&#169;</span> 2025 LiteGapps</b></div>
</footer>
