<footer class="md3-footer text-center py-5 mt-5">
  <div class="container">

    <section class="mb-4">
      <div class="visually-hidden">Social Media</div>
      <div class="d-flex flex-wrap justify-content-center gap-2">
          <a class="md3-icon-btn" href="https://youtube.com/channel/UCoqHuQ6CssiZCk3q4haOLUQ" role="button" aria-label="YouTube">
            <i class="bi bi-youtube"></i>
          </a>
          <a class="md3-icon-btn" href="https://fb.me/litegapps" role="button" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="md3-icon-btn" href="https://t.me/litegapps" role="button" aria-label="Telegram">
            <i class="bi bi-telegram"></i>
          </a>
          <a class="md3-icon-btn" href="https://twitter.com/litegapps" role="button" aria-label="X social media">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a class="md3-icon-btn" href="https://www.tiktok.com/@litegapps" role="button" aria-label="TikTok">
            <i class="bi bi-tiktok"></i>
          </a>
          <a class="md3-icon-btn" href="https://xdaforums.com/t/litegapps-systemless-custom-gapps.4146013/" role="button" aria-label="XDA Forums">
            <span class="material-symbols-rounded">forum</span>
          </a>
          <a class="md3-icon-btn" href="https://github.com/litegapps" role="button" aria-label="GitHub">
            <i class="bi bi-github"></i>
          </a>
          <a class="md3-icon-btn" href="https://paypal.me/wahyu6071" role="button" aria-label="PayPal">
            <i class="bi bi-paypal"></i>
          </a>
          <a class="md3-icon-btn" href="mailto:litegapps@gmail.com" role="button" aria-label="Email">
            <span class="material-symbols-rounded">mail</span>
          </a>
      </div>
    </section>
    
    <hr class="md3-footer-divider my-4">

    <section class="mb-4">
        <div class="visually-hidden fw-bold">Related Links</div>
        <ul class="list-inline mb-0">
            <li class="list-inline-item mx-2 mb-2"><a href="https://magisk.dev" class="md3-footer-link">Magisk</a></li>
            <li class="list-inline-item mx-2 mb-2"><a href="https://aethersx2.me" class="md3-footer-link">AetherSX2</a></li>
            <li class="list-inline-item mx-2 mb-2"><a href="https://winlator.me" class="md3-footer-link">Winlator</a></li>
            <li class="list-inline-item mx-2 mb-2"><a href="https://aethersx2-emu.com" class="md3-footer-link">aethersx2.gitlab.io</a></li>
            <li class="list-inline-item mx-2 mb-2"><a href="https://ps2bios.dev/" class="md3-footer-link">PS2 BIOS</a></li>
        </ul>
    </section>

    <div class="opacity-75 small">
      Copyright &#169; {{ now.Year }} 
      <a class="md3-footer-link fw-bold" href="/">The LiteGapps Open Source Project</a>
    </div>
    
  </div>
</footer>
