{{ partial "meta/html.html" . }}
<title>{{ .Page.Title | default .Site.Title }}</title>
<!-- <title>LiteGapps</title> -->
{{ partial "google/tagmanager_head.html" . }}
{{ partial "google/analytics.html" . }}
{{ partial "meta/opengraph.html" . }}
{{ partial "meta/seo.html" . }}
{{ partial "meta/twitter.html" . }}
{{ partial "framework.html" . }}

<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}" />

{{ partial "google/searchconsole.html" . }}
{{ partial "google/adsense.html" . }}


{{ partial "style.html" . }}
{{ partial "ads/head.html" . }}
