<main class="container">
        
<article>
<header>
<h1>{{ .Title }}</h1>
</header>
{{ .Content }}
</article>
<section class="blog">
    {{ range .Pages }}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        	
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{ .Params.catagory }}</strong>
          <h3 class="mb-0"> <a class="post-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
          <div class="mb-1 text-body-secondary">
          {{ .Date | time.Format ":date_medium" }}
          </div>
          
          <p class="card-text mb-auto">
          {{ if .Params.Excerpt -}}
           {{ .Params.Excerpt }}
          {{- else -}}
           {{ .Summary | plainify }}
           {{ end }}
          
          </p>
          <a href="{{ .Permalink }}
          " class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
           
          </a>
        </div>
        
      </div>
      {{ end }}
</section>
</main>
