<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        
          <h3 class="mb-0"> <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <div class="mb-1 text-body-secondary">
          		
          	<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "Jan 2, 2006" }}</time>
          	
          </div>
          
          <p class="card-text mb-auto">
          	{{ if .Description }}
          	{{ .Description }}
          	{{ else }}
          	{{ .Summary }}
          	{{ end }}
          	</p>
          <a href="{{ .Permalink }}
          " class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
           
          </a>
        </div>
        
      </div>
