{{ partial "google/tagmanager_body.html" . }}

<nav class="navbar navbar-expand-md bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img class="w-50" src="/img/icon.webp" alt="LiteGapps Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/download.html">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doc">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/changelog">Changelog</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

{{ partial "ads/body.html" . }}