<!DOCTYPE html>
<html lang="en"  data-bs-theme="auto">
<head>
{{ partial "meta/html.html" . }}
<title>{{ .Page.Title | default .Site.Title }}</title>
<!-- <title>LiteGapps</title> -->
{{ partial "google/analytics.html" . }}
{{ partial "meta/seo.html" . }}
{{ partial "framework.html" . }}
<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}" />
{{ partial "google/searchconsole.html" . }}
{{ partial "ads/head.html" . }}

<!-- popunder adstera -->
{{ partial "adspop.html" . }}

</head>
<body>
{{ partial "navbar.html" . }}
<main>
{{ .Content }}
</main>
{{ partial "js.html" . }} 
{{ partial "footer.html" }}
</body>
</html>
