<!doctype html>
<html lang="{{ page.lang }}">
  <head>
  {% include google_head.html %}
  {% include framework_head.html %}
  {% seo title=false %}
  {% include default.html %}
  <link rel="stylesheet" href="{{ "/assets/css/doc.css" | relative_url }}">
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" type="image/png" href="/assets/img/icon.ico">
	</head>

<body>

{% include google_tag_manager_body.html %}
{% include navbar.html %}
{% include ads.html %}
{{ content }}
{% include ads_footer.html %}
{% include footerr.html %}
{% include bootstrap_out.html %}

</body>
</html>
