<!doctype html>
<html lang="{{ page.lang }}">
  <head>
  {% include google_tag_manager_head.html %}
  {% include google_adsense.html %}
  {% include Google_Search_Consose.html %}
  {% seo title=false %}
  {% include default.html %}
  {% include bootstrap_in.html %}
   <link rel="canonical" href="https://litegapps.site">
    <link rel="canonical" href="https://litegapps.github.io">
	<link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}">
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" type="image/png" href="/assets/img/icon.ico">
	</head>

<body>
{% include google_tag_manager_body.html %}
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <div class="container-fluid">
  <a class="navbar-brand" href="/index.html"> <img class="ICON_MAIN" src="/assets/img/icon.png" alt="Litegapps Icon"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/download.html">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/documentation.html">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doc/contributors.html">Contributors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog.html">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% include ads.html %}
{{ content }}
{% include ads_footer.html %}
{% include footerr.html %}
{% include bootstrap_out.html %}

</body>
</html>
